<h2 class="mb-3">Convert Json to Angular reactive form.</h2>

<div style="max-width: 1000px; margin-top:50px">


<mat-expansion-panel style="margin-bottom: 50px;" >
  <mat-expansion-panel-header>
    <mat-panel-title>
      Input
    </mat-panel-title>
    <mat-panel-description>
    </mat-panel-description>
  </mat-expansion-panel-header>
  <textarea name="source" id="source" cols="100" rows="10" style="display:block ;"></textarea>
  <button type="submit" style="margin-top: 10px;">
    Create
  </button>
</mat-expansion-panel>


<mat-card >
  <mat-card-title-group>
    <mat-card-title>Result</mat-card-title>
    <mat-card-subtitle>Small</mat-card-subtitle>
    <img mat-card-sm-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" >
  </mat-card-title-group>
  <mat-card-content>
    <mat-tab-group style="margin-bottom:50px ;margin-top:10px">
      <mat-tab label="HTML">

        <textarea name="source" id="source" cols="100" rows="10" class="form-control"></textarea>
      </mat-tab>
      <mat-tab label="Type Script">

        <textarea name="source" id="source" cols="100" rows="10" class="form-control"></textarea>
      </mat-tab>
    </mat-tab-group>
  </mat-card-content>
</mat-card>


